* {
    padding: 0;
    margin: 0
}

#navigation {
    padding-left: 0;
}

#navigation > div > ul.navbar-nav.mr-aut > li > a {
    color: red;
    text-transform: uppercase;
}

#navigation > div > ul.navbar-nav.mr-aut > li > a:hover {
    color: blue;
    text-transform: uppercase;
}

#navigation > div > ul.navbar-nav > li > a {
    color: black;
    text-transform: lowercase;
}

#navigation > div > ul.navbar-nav > li > a:hover {
    color: red;
    text-transform: lowercase;
}

.message {
    margin:0 40px;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size:20px;
}

.error {
    background: darkred;
}

.error-red {
    font-weight: bold;
    color: red;
}

.inputError {
    border-color: red;
}

.success {
    background: darkgreen;
}

.hotel-image-list {
    width: 350px;
    height: 250px;
}

.home-heading {
    text-align: center;
}

.remstyle {
    list-style-type: none;
    padding-left: 10px;
}