<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['user/home']">Ticket Store</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/user/home']">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Events
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['user/events']">All Events</a>
                        </li>
                        <li *ngFor="let category of categories">
                            <a routerLink="user/events/category/{{category.id}}">{{category.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/search"><span class="glyphicon glyphicon-search"></span> Search</a>
                </li>
                <li *ngIf="isAdmin()">
                    <a [routerLink]="['/admin/home']" (click)="getAdminPanel()">Admin Panel</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isUser()">
                    <a routerLink="/user/cart" class="userMenuItem">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span id="cart-badge" class="badge badge-danger">{{cartItems}}</span>
                    </a>
                </li>
                <li *ngIf="isUser()">
                    <a routerLink="/user/my/tickets" class="userMenuItem">My Tickets</a>
                </li>
                <li *ngIf="!showHideNavigation()">
                    <a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li *ngIf="!showHideNavigation()">
                    <a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li *ngIf="showHideNavigation()">
                    <a class="nav-link logout-link" (click)="logout()">Logout</a>
                </li>
                <li id="show-user-names" *ngIf="showHideNavigation()">
                    <a>Welcome, {{username}}!</a>
                </li>
            </ul>
        </div>
    </nav>
</header>