<form action="/hotel/add" method="post">
    <fieldset>
        <legend>Add New Hotel:</legend>
        Name:<br>
        <input type="text" name="title" ><br>
        Location:<br>
        <input type="text" name="location" ><br>
        Image URL:<br>
        <input type="text" name="image_url" ><br>
        Description:<br>
        <textarea name="description" ></textarea><br><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>