.my-4 {
    margin-left: 25px;
}

.ticketWrap {
    width: 28em;
    margin: -5em auto;
    color: #fff;
    font-family: sans-serif;
}

.ticket {
    background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ffffff 26%, #ffffff 100%);
    height: 15em;
    float: left;
    position: relative;
    padding: 1em;
    margin-top: 100px;
}

.ticketLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 16em;
}

.ticketRight {
    width: 8.5em;
    border-left: .18em dashed #eee;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.ticketRight:before, .ticketRight:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #eee;
    border-radius: 50%;
    left: -.5em;
}
.ticketRight:before {
    top: -.4em;
}
.ticketRight:after {
    bottom: -.4em;
}

.ticketLeft h1 {
    font-size: 1.1em;
    margin-top: 0;
}
.ticketLeft h1 span {
    font-weight: normal;
}

.ticket-title, .ticket-name, .ticket-seat, .ticket-time {
    text-transform: uppercase;
    font-weight: normal;
}
.ticket-title h2, .ticket-name h2, .ticket-seat h2, .ticket-time h2 {
    font-size: .9em;
    color: #525252;
    margin: 0;
}
.ticket-title span, .ticket-name span, .ticket-seat span, .ticket-time span {
    font-size: .7em;
    color: #a2aeae;
}

.ticket-title {
    margin: 2em 0 0 0;
}

.ticket-name, .ticket-seat {
    margin: .7em 0 0 0;
}

.ticket-time {
    margin: .7em 0 0 1em;
}

.ticket-seat, .ticket-time {
    float: left;
}

.ticket-price {
    position: relative;
    width: 9em;
    height: 1.5em;
    margin: 0 auto;
    z-index: 1;
}

.barcode {
    margin: 2em 0 0 -0.5em;
}