<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
            <form class="form" action="#/cart/payment" method="get">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Ticket</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let cartItem of cart">
                          <td class="col-sm-8 col-md-6">
                              <div class="media">
                                  <a class="pull-left" routerLink="/user/events/{{cartItem.event.id}}">
                                      <img class="media-object" src="{{cartItem.event.url}}">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="media-heading"><a routerLink="/user/events/{{cartItem.event.id}}">{{cartItem.event.title}}</a></h4>
                                      <h5 class="media-heading">{{cartItem.event.date | eventDateFormatter}} - {{cartItem.event.time | eventTimeFormatter}}h.</h5>
                                  </div>
                              </div>
                          </td>
                          <td class="col-sm-1 col-md-1" style="text-align: center">
                              <strong>{{cartItem.ticketsCount}}</strong>
                          </td>
                          <td class="col-sm-1 col-md-1 text-center"><strong>{{cartItem.ticket.price}} BGN</strong></td>
                          <td class="col-sm-1 col-md-1 text-center"><strong>{{cartItem.ticket.price * cartItem.ticketsCount}}</strong></td>
                          <td class="col-sm-1 col-md-1">
                              <button type="button" class="btn btn-danger glyphicon glyphicon-remove" (click)="removeCartItem(cartItem)">Remove</button>
                          </td>
                      </tr>
                      <tr>
                      <td> &nbsp;</td>
                      <td> &nbsp;</td>
                      <td> &nbsp;</td>
                      <td><h3>Total</h3></td>
                      <td class="text-right"><h3><strong>{{totalSum}}</strong></h3></td>
                  </tr>
                  <tr>
                      <td><input type="hidden" name="totalPrice" value="310"></td>
                      <td></td>
                      <td> &nbsp;</td>
                      <td> &nbsp;</td>
                      <td>
                          <div class="control-group">
                              <div class="controls">
                                  <button id="regBtn" class="btn btn-default">
                                      <span class="glyphicon glyphicon-shopping-cart"></span>Continue
                                      Shopping
                                  </button>
                              </div>
                          </div>
                      </td>
                  </tr>
                  </tbody>
                </table>
            </form>
    </div>
</div>